body {
    background-color: rgb(28, 0, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 300px;
    height: 100px;
    display: block;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium';
    border-color: aliceblue;
    border-width: 7px;
    border-radius: 25px;
    background-color: rgb(46, 2, 51);
    color: aliceblue;
}

p1 {
    position: absolute;
    color: aliceblue;
    font-size: 125px;
    font-family: 'Franklin Gothic Medium';
    top: 275px;
}

img {
    position: absolute;
}