body {
    background-color: rgb(28, 0, 31);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    z-index: 2;
}

button {
    width: 300px;
    height: 100px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium';
    border: 7px solid aliceblue;
    border-radius: 25px;
    background-color: rgb(46, 2, 51);
    color: aliceblue;
    cursor: pointer;

    box-shadow:
        0 8px 0 rgb(25, 1, 28),
        0 12px 20px rgba(0, 0, 0, 0.6);

    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

button:active {
    transform: translateY(4px);
    box-shadow:
        0 2px 0 rgb(25, 1, 28),
        0 6px 10px rgba(0, 0, 0, 0.6);
}

button:hover {
    filter: brightness(1.1);
}

p {
    color: aliceblue;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium';
    margin: 0;
}

.logo {
    width: 200px;          
    margin-bottom: 20px; 
    align-items: center;
    color: aliceblue;
}
