body {
    background-color: rgb(28, 0, 31);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui {
    margin-top: 50%;
    margin-bottom: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    width: 75%;
}

.bt {
    margin: 30px;
    height: 150px;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium';
    border-radius: 40px;
    color: aliceblue;
}

button {
    width: 450px;
    height: 150px;
    font-size: 75px;
    margin-bottom: 60px;
    font-family: 'Franklin Gothic Medium';
    border: 7px solid aliceblue;
    border-radius: 40px;
    background-color: rgb(46, 2, 51);
    color: aliceblue;
    cursor: pointer;

    box-shadow:
        0 8px 0 rgb(25, 1, 28),
        0 12px 20px rgba(0, 0, 0, 0.6);

    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

button:active {
    transform: translateY(4px);
    box-shadow:
        0 2px 0 rgb(25, 1, 28),
        0 6px 10px rgba(0, 0, 0, 0.6);
}

button:hover {
    filter: brightness(1.1);
}

p1 {
    color: aliceblue;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium';
    margin: 25px;
}

.collapsible summary {
    text-align: center;
    width: relative;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    background: #333;
    background-color: rgb(46, 2, 51);
    color: aliceblue;
    border-radius: 5px;
}

.collapsible p2 {
    margin: 25px;
    line-height: 30px;
    letter-spacing: 2px;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium';
    font-size: 25px;
    text-align: justify;
}

.logo {
    width: 500px;
    margin-bottom: 20px; 
    align-items: center;
    color: aliceblue;
}

.pigeon {
    width: 200px;          
    margin-bottom: 20px; 
    align-items: center;
    color: aliceblue;
